body {
    font-family: 'Times New Roman', Times, serif;
    text-align: 30%;
}

article {
    width:clamp(200px,50%,600px);
}

* {
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    left:0;
    width: 250px;
    height: 100%;
    background: #785129;
}

.sidebar header {
    font-size: 22px;
    color: #7a532b;
    text-align: center;
    line-height: 60px;
    background: #785129;
    user-select: none;
}

.sidebar header {
    
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height:60px;
    font-size:20px;
    color: #e9d18a;
    padding-left:40px;
    box-sizing: border-box;
    border-top: none;
    border-bottom: none;
    transition: .4s;
}

ul li:hover a{
    padding-left: 50px;
}

.sidebar ul a img{
    margin-right: 5px;
    margin-top: 9px;
    height: 15%;
    width: 15%;
}

.sidebar ul li ul{
    display: block;
    position: absolute;
    background-color: #785129;
    
}

main{
    padding-top: 30px;
    padding-left: 283px;
}

.socialmedia {
    background-color: none;
    height: 30px;
    width: 100%;
}

.box {
    background-color: #7a532b;
    padding-right: 250px;
    height: 150px;
    margin-right: 50%;
    margin-bottom: 150%;
}

.box article h1{
    text-align: left;
    text-decoration: solid;
    text-size-adjust: 20px;
    color: #e9d18a;
}

.box article s1{
    text-align: left;
    text-decoration: solid;
    text-size-adjust: 20px;
    color: #e9d18a;
}

.box article p{
    text-align: left;
    text-decoration: solid;
    text-size-adjust: 20px;
    color: #e9d18a;
}

.dropdown_div {
    position: relative;
    display: inline-block;
}

.dropdown_button {
    background-color: opacity;
    color: #e9d18a;
    padding: 3.5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
    line-height:60px;
    font-size:20px;
}
.dropdown_content {
    display: none;
    position: static;
    background-color: #e9d18a opacity(50%); 
    height: 100%;
    width: 100%;
    line-height:50px;
    font-size:20px;
    box-shadow: 0px 6px 14px 0px transparent);
}

.dropdown_content a {
    font-family:'Times New Roman', Times, serif;
    color: #000000;
    padding: 2.5px 12.5px;
    padding-left: 15px;
    text-decoration: none;
    display: block;
}

.icon {
    padding: (20px, 20px)
    position: center;

}

.dropdown_content a:hover {
    background-color: white;
}
.dropdown_div:hover .dropdown_content {
    display: block;
}
.dropdown_div:hover .dropdown_button {
    background-color: none; /* button hover - change background colour */
}
p{
    font-family:Arial;
}
h2{
    font-family:Arial;
}
